.top-bar{
    width: 100%;
    background-color: black;
    color:white;
    padding:1rem;
    display: flex;
    justify-content: space-around;
}
.top-bar-head{
    display: flex;
    justify-content: center;
    font-size: larger !important;
}
.top-bar-info{
    padding-top: 0.2rem;
}
a:hover,
a:link,
a:visited,
a:active{
    color: white;
    text-decoration: none;
}
.top-bar-head-icon{
    margin-top: 0;
    padding-top: 0;
    position: relative;
    bottom : 0.3vh;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding-left: 0.5rem;
    padding-right:0.5rem;
    background-color: transparent;
}
@keyframes rotate {
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}
@media screen and (max-width: 500px) {
    .top-bar-info{
        padding-right: 1.6rem ;
        padding-top: 0.2rem;
    }
    .top-bar-head-icon{
        position: relative;
        bottom : 0.4vh;
    }
}